
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    background-color: #FFC107;
}

header img{
    align-self: center;
    width: 324px;
    height: 84px;
}

header .container{
    background-color:  #FFA000; 
}

.container nav{
    display: flex;
    justify-content: center;
}

.center-li{
    margin: 0 58px 0 58px;
}
.container nav li{
    list-style: none;
    margin: 12px 12px;
}

.container nav li a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #FDFDFD;
}

/* FOOTER */
footer{
    display: flex;
    align-items: center;
    background-color: #FFC107;
    color: white;
    font-weight: 700;
}

footer img{
    width: 20%;
}

footer span{
    font-size: 80%;
}

@media only screen and (max-width: 480px){
    .container nav li a{
        font-size: 80%;
     }

}